{% extends "themes/base_visitor.html.twig" %}

{% block title %}Articles santé & médecine | Conseils médicaux – Médecine du Monde{% endblock %}

{% block description %}Retrouvez tous les articles du blog Médecine du Monde : conseils santé, prévention, éclairages sur les spécialités médicales et témoignages inspirants, rédigés par des professionnels.{% endblock %}

{% block keywords %}articles santé, articles médicaux, blog médecine, prévention santé, conseils médicaux, information santé, médecine expliquée{% endblock %}

{% block knp_paginator %}
	{{ knp_pagination_rel_links(posts) }}
{% endblock %}

{% block main %}
        {% include 'components/visitor/_header_visitor.html.twig' with {'h1': "Liste des articles"} %}

        <div class="container my-5">
			<div class="row text-center">
				<div class="col-md-6">
					<div class="dropdown my-2">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Les catégories
						</a>

						<ul class="dropdown-menu">
							{% if categories is not empty %}
								{% for category in categories %}
									<li>
										<a class="dropdown-item" href="{{path('app_visitor_blog_filter_by_category', {'id':category.id, 'slug':category.slug})}}">
											{{category.name}} ({{category.posts|length}} article{{category.posts|length > 1 ? 's' : ''}})
										</a>
									</li>
								{% endfor %}
							{% else %}
								<li><a class="dropdown-item" href="#">Aucune catégorie</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="dropdown my-2">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Les tags
						</a>

						<ul class="dropdown-menu">
							{% if tags is not empty %}
								{% for tag in tags %}
									<li>
										<a class="dropdown-item" href="{{path('app_visitor_blog_filter_by_tag', {'id':tag.id, 'slug':tag.slug})}}">
											{{tag.name}} ({{tag.posts|length}} article{{tag.posts|length > 1 ? 's' : ''}})
										</a>
									</li>
								{% endfor %}
							{% else %}
								<li><a class="dropdown-item" href="#">Aucun Tag</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>

			<div class="container my-5">
				<div class="row">
					<div class="col-md-12 col-lg-8 mx-auto">
						{% for post in posts %}
							<div class="card shadow my-5">
								<div class="row g-0">
									<div class="col-md-4">
										{% if post.image %}
											<img class="w-100 h-100 rounded-start" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('visitor_post_thumb') }}" alt="{{ post.title }}">
										{% else %}
											<img class="w-100 h-100" src="/images/statics/default-post-image.png" alt="{{post.title}}">
										{% endif %}
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">{{post.title|u.truncate('80', '...')}}</h5>
											<p class="card-text">Catégorie: <span class="badge text-bg-info">{{post.category.name}}</span></p>
											{% if post.tags is not empty %}
											<p class="card-text">
												Tags: 
												{% for tag in post.tags %}
													<span class="badge text-bg-secondary">{{tag.name}}</span>
												{% endfor %}
											</p>
											{% endif %}
											<p class="card-text"><small class="text-body-secondary">Publié {{post.publishedAt|ago}}</small></p>
											<a href="" class="btn btn-primary shadow">Lire l'article</a>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}

						{# display navigation #}
						<div class="d-flex justify-content-center align-items-center">
							{{ knp_pagination_render(posts) }}
						</div>
					</div>
				</div>
			</div>
        </div>
{% endblock %}