{% extends 'themes/base_visitor.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block description %}{{post.description}}{% endblock %}

{% block keywords %}
    {% if post.keywords %}
        <meta name="keywords" content="{{post.keywords}}">
    {% endif %}
{% endblock %}

{% block font_awesome %}
    {# Font Awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto my-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('app_visitor_blog_index')}}">Liste des articles</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{post.title|u.truncate('60','...')}}</li>
                    </ol>
                </nav>

                <div class="text-center">
                    {% if post.image %}
                        <img class="img-fluid rounded" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
                    {% endif %}

                    <h1 class="my-3 display-6">{{post.title}}</h1>

                    <small>Publié {{post.publishedAt|ago}} par
                        {% if post.user %}
                            <strong>{{post.user.firstName}} {{post.user.lastName}}</strong>
                        {% else %}
                            <strong>Jean Dupont</strong>
                        {% endif %}
                    </small>
                </div>

                <div class="my-5">
                    {{post.content|raw}}

                    <div class="mt-4">
                        <a id="like-link" href="{{path('app_visitor_blog_post_like', {'id':post.id, 'slug':post.slug})}}" class="text-danger text-decoration-none">
                            {% if app.user and post.isAlreadyLikedBy(app.user)%}
                                <i class="fa-solid fa-heart"></i>
                            {% else %}
                                <i class="fa-regular fa-heart"></i>
                            {% endif %}
                        </a>
                        <span id="total-likes-container">{{post.likes|length}}</span>
                        <span>J'aime</span>
                    </div>
                </div>

                <hr>
                <div>
                    {% if app.user %}
                        {# Form #}
                        {{form_start(commentForm, {'action': path('app_visitor_blog_post_show', {'id':post.id, 'slug':post.slug})~'#comments-container'})}}
                            <div class="mb-3">
                                <label for="comment_form_content" class="h2">Laissez un commentaire</label>
                                <div class="text-danger">{{form_errors(commentForm.content)}}</div>
                                {{form_widget(commentForm.content, {'attr': {'class':'form-control', 'rows':4}})}}
                            </div>
                            <div>
                                <input formnovalidate type="submit" class="btn btn-primary shadow" value="Commenter">
                            </div>
                        {{form_end(commentForm)}}
                    {% else %}
                        <p><strong>Veuillez vous connecter afin de laisser un commentaire:</strong> <a href="{{path('app_login')}}" class="btn btn-lg btn-outline-primary">Se connecter</a></p>
                    {% endif %}              
                </div>
                <hr>


                <div id="comments-container">
                    {% if post.comments is not empty %}
                        <h2>Liste des commentaires</h2>
                        {% for comment in post.comments|reverse %}
                            {% if comment.isActivated %}
                                <div class="shadow p-3 my-4 rounded">
                                    <p>
                                        <strong>{{comment.user.firstName}} {{comment.user.lastName}}</strong>
                                        <small>Publié {{comment.createdAt|ago}}</small>                                
                                    </p>
                                    <div>
                                        {{comment.content}}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block j_query %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block javascripts_added %}
    <script>
        $(document).ready(function(){
            $('#like-link').on('click', function(event){
                event.preventDefault();

                $.ajax({
                    url: this.href,
                    type: 'GET',
                    success: function(response) {
                        $("#total-likes-container").html(response.totalLikesUpdated);

                        if ( $('i').hasClass('fa-regular') ) {
                            $('i').removeClass('fa-regular');
                            $('i').addClass('fa-solid');
                        } else {
                            $('i').removeClass('fa-solid');
                            $('i').addClass('fa-regular');
                        }
                    },
                    error: function(response) {
                        if (403 == response.status) {
                            alert(response.responseJSON.message);
                        } else {
                            alert("Une erreur est survenue, veuillez réessayer plus tard.");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}