{% extends "themes/base_admin.html.twig" %}

{% block title %}
    Modifier les paramètres du site
{% endblock %}

{% block description %}
    Modification des paramètres du site
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modification des paramètres</h1>

    {% include 'components/_alert.html.twig' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 col-lg-5 mx-auto p-4 shadow">
                {{form_start(settingForm)}}
                    <div class="mb-3">
                        <label for="setting_form_email">Email</label>
                        <div class="text-danger">{{form_errors(settingForm.email)}}</div>
                        {{form_widget(settingForm.email, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="setting_form_phone">Numéro de téléphone</label>
                        <div class="text-danger">{{form_errors(settingForm.phone)}}</div>
                        {{form_widget(settingForm.phone, {'attr': {'class':'form-control'}})}}
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary shadow w-100" value="Modifier">
                    </div>
                {{form_end(settingForm)}}
            </div>
        </div>
    </div>

{% endblock %}