<!DOCTYPE html>
<html lang="fr">
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connexion | Médecine du Monde - Blog santé du Dr Jean Dupont</title>

        {# Seo #}
        <meta name="robots" content="index, follow">
        <meta name="description" content="Connectez-vous à votre compte Médecine du Monde pour accéder aux articles santé du Dr Jean Dupont, suivre l'actualité médicale et participer aux échanges autour de la prévention et du bien-être.">        
        <meta name="keywords" content="connexion blog santé, connexion compte médical, accès espace membre santé, blog médecine connexion, Médecine du Monde connexion, Dr Jean Dupont">
        <meta name="author" content="Dwwm22">
        <meta name="publisher" content="Dwwm22">
        <meta name="theme-color" content="#08086d">

        {# Favicon #}
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="manifest" href="/site.webmanifest">

        {# Google Font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        {# WebpackEncore stylesheets #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# WebpackEncore javascripts #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="jd-auth-bg">
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid" src="/images/statics/connexion-blog-jean-dupont.png" alt="Une image de Jean Dupont vous invitant à vous connecter">
                    </div>
                    <div class="col-lg-6 d-flex flex-column gap-3 justify-content-center align-items-center">

                        <h1 class="text-center my-3">Connexion</h1>
                                        
                        {# Form #}
                        <form method="post" class="jd-auth-form">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
                                </div>
                            {% endif %}

                            <div class="mb-3">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6 my-1">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                        </label>
                                    </div>
                                    <div class="col-md-6 my-1 text-md-end">
                                        <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié?</a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button formnovalidate class="btn btn-primary w-100 shadow" type="submit">Se connecter</button>
                            </div>
                        </form>

                        <div class="text-center">
                            <p>Vous n'avez pas encore de compte? <a href="{{path('app_register')}}">Inscrivez-vous</a></p>
                            <p><a href="{{path('app_visitor_welcome')}}">Retour à l'accueil</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>




<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
